/*
    ==============
       Navigation
    ==============
*/

.black-bg {
    background-color: #174A52;
}

.nag-header-info {
    text-align: center;
    padding-top: 100px;
}

.nag-header-info .hero-img {
    margin-bottom: 30px;
}

.nag-header-info .hero-img img {
    border: 0px solid #fff;
    border-radius: 50%;
}

.nag-header-info h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 0px;
    opacity: 0.9;
}

.nag-header-info h4 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.nag-header-info p {
    padding: 0 120px;
    font-weight: 300;
}

.nag-header-info ul li {
    margin: 10px 6px;
}

.nag-header-info ul.nag-home-contact {
    margin-bottom: 15px;
}

.nag-header-info ul.nag-home-contact li {
    display: inline-block;
    margin: 10px 15px;
}

.nag-header-info ul.nag-home-contact li .fa {
    margin-right: 10px;
}

.nag-header-info ul.nag-home-contact li:hover .fa {
    color: #0bceaf;
}

.nag-header-info .nag-about-tag {
    width: 60%;
    margin: 0 auto;
}

.nag-header-info .nag-about-tag ul li {
    margin: 6px;
}
.nag-header a{
    color: #fff;
}