<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <img src="../../assets/images/logo.png" />
                    </h5>
                    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <label *ngIf="userTypeLabel" for="userType">Please Enter User Type:</label>
                            <input id="userType" (focus)="userTypeLabel = true" (focusout)="userTypeLabel = false" type="userType" class="form-control" id="userType"
                             name="userType" formControlName="userType" required  placeholder="User Type">
                            <div *ngIf="f.userType.dirty && f.userType.invalid" class="alert alert-danger form-group">
                                <div *ngIf="f.userType.errors.required">userType is required</div>
                                <div *ngIf="f.userType.errors.userType">userType must be a valid userType address</div>
                            </div>
                        </div>

                        <button [disabled]="!loginForm.valid" class="btn btn-lg btn-custom btn-primary btn-block text-uppercase" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>